.message[data-v-18519a85] {
  clear: both;
}
.message[data-v-18519a85]  .avue-crud__menu {
  min-height: 0;
}
[data-v-18519a85] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-ba8e01be] {
  clear: both;
}
.message[data-v-ba8e01be]  .avue-crud__menu {
  min-height: 0;
}
[data-v-ba8e01be] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.mapdiv[data-v-55edea66] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.mapdiv[data-v-55edea66] .el-form-item,
.mapdiv[data-v-55edea66] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-55edea66] {
  margin-bottom: 0.3125rem!important;
}
.mapdiv[data-v-55125604] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.mapdiv[data-v-55125604] .el-form-item,
.mapdiv[data-v-55125604] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-55125604] {
  margin-bottom: 0.3125rem!important;
}
.warn-div[data-v-55125604] {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
.mapdiv[data-v-4e3863a1] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.mapdiv[data-v-4e3863a1] .el-form-item,
.mapdiv[data-v-4e3863a1] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-4e3863a1] {
  margin-bottom: 0.3125rem !important;
}
.mapdiv[data-v-4e467b22] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.mapdiv[data-v-4e467b22] .el-form-item,
.mapdiv[data-v-4e467b22] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-4e467b22] {
  margin-bottom: 0.3125rem !important;
}
.imported[data-v-35713123] {
  display: inline-block;
}
.message[data-v-45b273d0] {
  clear: both;
}
.message[data-v-45b273d0]  .avue-crud__menu {
  min-height: 0;
}
[data-v-45b273d0] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-b6d8e26a] {
  clear: both;
}
.message[data-v-b6d8e26a]  .avue-crud__menu {
  min-height: 0;
}
[data-v-b6d8e26a] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-4c9bfeb6] {
  clear: both;
}
.message[data-v-4c9bfeb6]  .avue-crud__menu {
  min-height: 0;
}
[data-v-4c9bfeb6] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-0924d7ee] {
  clear: both;
}
.message[data-v-0924d7ee]  .avue-crud__menu {
  min-height: 0;
}
[data-v-0924d7ee] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-1711f525] {
  clear: both;
}
.message[data-v-1711f525]  .avue-crud__menu {
  min-height: 0;
}
.db-title[data-v-57dc6530] {
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  color: #fff;
}
.tj[data-v-57dc6530] {
  background-color: #E6A23C;
}
.xy[data-v-57dc6530] {
  background-color: #67C23A;
}
[data-v-57dc6530] .formClassName .el-form-item__label {
  color: #F56C6C !important;
}
[data-v-57dc6530] .formClassName .el-input__inner {
  color: #F56C6C !important;
}
.message[data-v-25fc5eee] {
  clear: both;
}
.message[data-v-25fc5eee]  .avue-crud__menu {
  min-height: 0;
}
[data-v-25fc5eee] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-2c89659a] {
  clear: both;
}
.message[data-v-2c89659a]  .avue-crud__menu {
  min-height: 0;
}
[data-v-2c89659a] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.theme-picker .el-color-picker__trigger {
  vertical-align: middle;
}
.theme-picker-dropdown .el-color-dropdown__link-btn {
  display: none;
}
.code[data-v-2385e7ae] {
  font-size: 0.75rem;
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
.tableBox .avue-crud__menu {
  min-height: inherit;
}
.list[data-v-1bd7f21a] {
  width: 100%;
}
.msg-text {
  display: block;
  width: 3.75rem;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
}
.msg-text.display {
  color: #ccc;
}
.social-container[data-v-2ffb9b82] {
  margin: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-container .iconfont[data-v-2ffb9b82] {
  color: #fff;
  font-size: 1.875rem;
}
.social-container .container[data-v-2ffb9b82] {
  cursor: pointer;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
}
.social-container .title[data-v-2ffb9b82] {
  text-align: center;
}
.leftdiv[data-v-5273fac8] .basic-container .el-card,
.rightdiv[data-v-5273fac8] .basic-container .el-card {
  min-width: 20rem!important;
}
.rightdiv[data-v-5273fac8] .basic-container {
  padding-left: 0 !important;
}
.flow-tree[data-v-5273fac8] {
  flex: 1;
  /*padding:10px;*/
  /*border-radius: 2px;*/
  /*height: calc(100% - 72px)!important;*/
  /*height: 790px!important;*/
  overflow-y: auto!important;
  /*background-color: #ffffff;*/
  /*-webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);*/
  /*box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);*/
}
.box {
  height: 50rem;
}
.el-scrollbar {
  height: 100%;
}
.box .el-scrollbar__wrap {
  overflow: scroll;
}
.none-border {
  border: 0;
  background-color: transparent !important;
}
.wf-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.wf-dialog .avue-dialog__footer {
  text-align: center;
}
.table-div[data-v-3fb30d12] {
  display: inline-block;
  margin-left: 0;
}
.avue-div[data-v-3fb30d12] .avue-crud__menu {
  display: none;
  min-height: 0;
}
.table[data-v-3fb30d12] {
  top: 1.25rem;
  position: relative;
  background: #FFFFFF;
  border: 0.0625rem solid #d3d4d6;
  border-radius: 0.125rem;
}
.message[data-v-862a3b42] {
  clear: both;
}
.message[data-v-862a3b42]  .avue-crud__menu {
  min-height: 0;
}
[data-v-862a3b42] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-8a64fba4] {
  clear: both;
}
.message[data-v-8a64fba4]  .avue-crud__menu {
  min-height: 0;
}
[data-v-8a64fba4] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
.uploadDisabled .el-upload--picture-card[data-v-455ed87c] {
  display: none;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
.message[data-v-18ad01bb] {
  clear: both;
}
.message[data-v-18ad01bb]  .avue-crud__menu {
  min-height: 0;
}
[data-v-18ad01bb] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-d2794a8e] {
  clear: both;
}
.message[data-v-d2794a8e]  .avue-crud__menu {
  min-height: 0;
}
[data-v-d2794a8e] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.title-style[data-v-ad128c54] {
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
}
.win-div[data-v-ad128c54] .avue-form__group > div:last-child {
  height: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}
.el-dialog__header[data-v-ad128c54] {
  padding: 0.9375rem 1.25rem 0.9375rem !important;
  background: #e3eaed;
}
.avue-crud__dialog__header[data-v-ad128c54] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.el-dialog__title[data-v-ad128c54] {
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  word-wrap: break-word;
}
.el-dialog__headerbtn[data-v-ad128c54] {
  top: 0.9375rem;
}
.avue-crud__dialog__menu1[data-v-ad128c54] {
  margin-top: -0.3125rem;
  padding-right: 1.25rem;
  float: left;
}
.avue-crud__dialog__menu1 i[data-v-ad128c54] {
  color: #909399;
  font-size: 0.9375rem;
}
.el-icon-full-screen[data-v-ad128c54] {
  cursor: pointer;
}
.el-icon-full-screen[data-v-ad128c54]:before {
  content: "\E719";
}
.mb10[data-v-ad128c54] {
  margin-bottom: 1rem;
}
.table-div[data-v-2ff8206a] {
  display: inline-block;
}
.form-div[data-v-2ff8206a] .avue-crud__menu {
  display: none;
  min-height: 0;
}
.jb-div[data-v-2ff8206a] {
  margin: 1.875rem 0;
}
.jb-div .el-divider[data-v-2ff8206a] {
  background-color: #DCDFE6;
  position: relative;
}
.jb-div .el-divider__text[data-v-2ff8206a] {
  position: absolute;
  background-color: #FFF;
  padding: 0 1.25rem;
  color: #303133;
}
.jb-div .is-left[data-v-2ff8206a] {
  left: 1.25rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.table-div[data-v-d9814416] {
  display: inline-block;
}
.form-div[data-v-d9814416] .avue-crud__menu {
  display: none;
  min-height: 0;
}
.jb-div[data-v-d9814416] {
  margin: 1.875rem 0;
}
.jb-div .el-divider[data-v-d9814416] {
  background-color: #DCDFE6;
  position: relative;
}
.jb-div .el-divider__text[data-v-d9814416] {
  position: absolute;
  background-color: #FFF;
  padding: 0 1.25rem;
  color: #303133;
}
.jb-div .is-left[data-v-d9814416] {
  left: 1.25rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.djjl[data-v-8188838e] .avue-crud__menu {
  display: none;
}
.djjl[data-v-0b0e5a43] .avue-crud__menu {
  display: none;
}
.title-style[data-v-0fbb3bb2] {
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
}
.win-div[data-v-0fbb3bb2] .avue-form__group > div:last-child {
  height: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}
.el-dialog__header[data-v-0fbb3bb2] {
  padding: 0.9375rem 1.25rem 0.9375rem !important;
  background: #e3eaed;
}
.avue-crud__dialog__header[data-v-0fbb3bb2] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.el-dialog__title[data-v-0fbb3bb2] {
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  word-wrap: break-word;
}
.el-dialog__headerbtn[data-v-0fbb3bb2] {
  top: 0.9375rem;
}
.avue-crud__dialog__menu1[data-v-0fbb3bb2] {
  margin-top: -0.3125rem;
  padding-right: 1.25rem;
  float: left;
}
.avue-crud__dialog__menu1 i[data-v-0fbb3bb2] {
  color: #909399;
  font-size: 0.9375rem;
}
.el-icon-full-screen[data-v-0fbb3bb2] {
  cursor: pointer;
}
.el-icon-full-screen[data-v-0fbb3bb2]:before {
  content: "\E719";
}
.mb10[data-v-0fbb3bb2] {
  margin-bottom: 1rem;
}
[data-v-507a4732] .avue-crud__menu {
  min-height: 0;
}
.el-dialog__header[data-v-507a4732] {
  padding: 0.9375rem 1.25rem 0.9375rem !important;
  background: #e3eaed;
}
.avue-crud__dialog__header[data-v-507a4732] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.el-dialog__title[data-v-507a4732] {
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  word-wrap: break-word;
}
.el-dialog__headerbtn[data-v-507a4732] {
  top: 0.9375rem;
}
.avue-crud__dialog__menu1[data-v-507a4732] {
  margin-top: -0.3125rem;
  padding-right: 1.25rem;
  float: left;
}
.avue-crud__dialog__menu1 i[data-v-507a4732] {
  color: #909399;
  font-size: 0.9375rem;
}
.el-icon-full-screen[data-v-507a4732] {
  cursor: pointer;
}
.el-icon-full-screen[data-v-507a4732]:before {
  content: "\E719";
}
#popup[data-v-507a4732] {
  background: #FFFFFF;
  border: 0.0625rem solid #f0f0f0;
  border-radius: 0.125rem;
  width: 31.25rem;
  box-shadow: 0 0.5rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.2);
}
.popup-content[data-v-507a4732] {
  margin: 0.625rem;
}
.popup-header[data-v-507a4732] {
  margin: 0.625rem 0;
  font-weight: bold;
}
.el-icon-close[data-v-507a4732] {
  font-weight: bold;
  font-size: 1.125rem;
}
.detail-con[data-v-507a4732] {
  height: 27.5rem;
  overflow-y: auto;
}
.dialog-content[data-v-507a4732] {
  position: relative;
}
#map[data-v-507a4732] {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
}
.win-div[data-v-507a4732] {
  padding: 1.25rem 0.625rem 0;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 999999;
  background: #FFFFFF;
  border: 0.0625rem solid #f0f0f0;
  border-radius: 0.125rem;
  width: 22.5rem;
  box-shadow: 0 0.5rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.2);
}
.modifyUserDetail[data-v-383aa1b2] .avue-crud__menu {
  min-height: 0;
}
.xmjdDetail[data-v-1dd84f73] .avue-crud__menu {
  min-height: 0;
}
.usersForm[data-v-48a39f9c] .avue-crud__menu {
  min-height: 0;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
.sm-div[data-v-14ad2aca] {
  width: 100%;
  text-align: right;
}
.ewm-font[data-v-14ad2aca] {
  margin-top: 1.875rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
.centent[data-v-14ad2aca] {
  width: 15rem;
  text-align: center;
  margin: auto;
}
.p20[data-v-14ad2aca] {
  margin: 1.25rem 0;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
.title-sj[data-v-aabdb908] {
  width: 100%;
  color: #FFFFFF;
  background-color: #4088fe;
  font-size: 1.125rem;
  text-align: center;
  line-height: 2.8125rem;
  height: 2.8125rem;
}
.flex-div[data-v-aabdb908] {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem dashed #dfdfdf;
  margin: 0 0.3125rem;
  line-height: 2.25rem;
}
.label[data-v-aabdb908] {
  width: 33%;
  font-size: 0.875rem;
  text-align: right;
}
.value[data-v-aabdb908] {
  color: #333333;
  font-size: 0.875rem;
  width: 67%;
}
[data-v-a9ca7fa8] .avue-crud__menu {
  min-height: 0;
}
[data-v-b2c53940] .avue-crud__menu {
  min-height: 0;
}
.box1[data-v-b2c53940] {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.message[data-v-745362a6] {
  clear: both;
}
.message[data-v-745362a6]  .avue-crud__menu {
  min-height: 0;
}
[data-v-745362a6] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-2e355895] {
  clear: both;
}
.message[data-v-2e355895]  .avue-crud__menu {
  min-height: 0;
}
[data-v-2e355895] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.my-label {
  width: 12.5rem;
  text-align: center;
}
.box-div[data-v-46ac37b7] {
  display: flex;
  position: relative;
  margin-top: -2.5rem;
}
.box-div>div[data-v-46ac37b7] {
  width: 9.375rem;
  margin: 0.625rem;
}
.lcjl-div[data-v-bbd63c08] .avue-crud__menu {
  min-height: 0!important;
}
.lcjl-div[data-v-bbd63c08] .avue--detail .el-form-item__content {
  border: 0!important;
}
.lcjl-div[data-v-6f2e78da] .avue-crud__menu {
  min-height: 0 !important;
}
.lcjl-div[data-v-6f2e78da] .avue--detail .el-form-item__content {
  border: 0 !important;
}
.avue--detail .el-row[data-v-3e6cdc37] {
  border: 0!important;
}
.el-button[data-v-3e6cdc37] {
  margin-left: 0.625rem!important;
}
.avue--detail .el-row[data-v-5df777f4] {
  border: 0!important;
}
.el-button[data-v-5df777f4] {
  margin-left: 0.625rem!important;
}
.avue--detail .el-row[data-v-3b5ffa29] {
  border: 0!important;
}
.searchBtn[data-v-02165dde] {
  margin-left: -0.3125rem !important;
}
.qpxx_div[data-v-67fdfbde] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.qpxx_div[data-v-67fdfbde] .el-form-item,
.qpxx_div[data-v-67fdfbde] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-67fdfbde] {
  margin-bottom: 0.3125rem !important;
}
.warn-div[data-v-67fdfbde] {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
.searchBtn[data-v-6f552635] {
  margin-left: -0.3125rem !important;
}
.zdxx_div[data-v-25b5ec80] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.zdxx_div[data-v-25b5ec80] .el-form-item,
.zdxx_div[data-v-25b5ec80] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-25b5ec80] {
  margin-bottom: 0.3125rem !important;
}
.warn-div[data-v-25b5ec80] {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
.message[data-v-a92c66a6] {
  clear: both;
}
.message[data-v-a92c66a6]  .avue-crud__menu {
  min-height: 0;
}
[data-v-a92c66a6] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.zdxx_div[data-v-f802ada0] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.zdxx_div[data-v-f802ada0] .el-form-item,
.zdxx_div[data-v-f802ada0] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-f802ada0] {
  margin-bottom: 0.3125rem !important;
}
.warn-div[data-v-f802ada0] {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
.qpxx_div[data-v-6d4faae9] .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.qpxx_div[data-v-6d4faae9] .el-form-item,
.qpxx_div[data-v-6d4faae9] .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item[data-v-6d4faae9] {
  margin-bottom: 0.3125rem !important;
}
.warn-div[data-v-6d4faae9] {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
.qpxx_div >>> .el-dialog .el-dialog__body {
  padding: 0.3125rem;
}
.qpxx_div >>> .el-form-item,
.qpxx_div >>> .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 0.3125rem !important;
}
.warn-div {
  margin-left: 3.125rem;
  z-index: 99999;
  color: red;
  display: block;
}
::v-deep .avue-crud__tip {
  display: none !important;
}
.message[data-v-25260148] {
  clear: both;
}
.message[data-v-25260148]  .avue-crud__menu {
  min-height: 0;
}
[data-v-25260148] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.searchBtn[data-v-ee5ac1f8] {
  margin-left: -0.3125rem !important;
}
.custom-header {
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 0.0625rem solid #e8e8e8;
}
.searchBtn[data-v-2b149ddc] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-851cd7d8] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-1945df70] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-b9b8a53a] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-383deef7] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-60d0cd6a] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-4565ac3b] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-507abb1a] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-17c86e18] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-736e09d4] {
  margin-left: -0.3125rem !important;
}
.searchBtn[data-v-f4f27174] {
  margin-left: -0.3125rem !important;
}
.pg-div[data-v-40707c9e] .avue-crud__menu {
  display: none;
}
.pg-div[data-v-03439cf0] .avue-crud__menu {
  display: none;
}
.pg-div[data-v-fba465be] .avue-crud__menu {
  display: none;
}
.message[data-v-3ae0e1df] {
  clear: both;
}
.message[data-v-3ae0e1df]  .avue-crud__menu {
  min-height: 0;
}
[data-v-3ae0e1df] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.message[data-v-13bb28d5] {
  clear: both;
}
.message[data-v-13bb28d5]  .avue-crud__menu {
  min-height: 0;
}
[data-v-13bb28d5] .el-radio__label {
  font-size: 0 !important;
  padding-left: 0 !important;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
.pg-div[data-v-73c507e2] .avue-crud__menu {
  display: none;
}
.pg-div[data-v-288a2226] .avue-crud__menu {
  min-height: 0!important;
}
.pg-div[data-v-288a2226] .avue--detail .el-form-item__content {
  border: 0!important;
}
.uploadDisabled .el-upload--picture-card {
  display: none;
}
[data-v-52f2ef87] .avue-crud__menu {
  display: none !important;
}
.inline-div[data-v-52f2ef87] {
  display: inline-block;
  margin-left: 0.625rem;
}
.inline-div[data-v-5e5cf581] {
  display: inline-block;
  margin-left: 0.625rem;
}
.img-style[data-v-5e5cf581] {
  max-height: 2.5rem;
  max-width: 3.125rem;
  margin-right: 0.3125rem;
  margin-right: 0.3125rem;
}
.tab-div[data-v-b2ba369a] {
  margin: 0.625rem;
  width: auto;
}
[data-v-b2ba369a] .avue-crud__menu {
  display: none !important;
}
.inline-div[data-v-b2ba369a] {
  display: inline-block;
  margin-left: 0.625rem;
}
.circle[data-v-48e0aeb6] {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}
.red[data-v-48e0aeb6] {
  background: red;
}
.grey[data-v-48e0aeb6] {
  background: grey;
}
[data-v-46f83722] .contrast .el-table td:nth-child(-n + 6) {
  background-color: rgba(131, 175, 241, 0.5) !important;
}
[data-v-46f83722] .contrast .el-table td:nth-child(n + 7) {
  background-color: rgba(131, 241, 193, 0.5) !important;
}
[data-v-46f83722] .contrast .avue-crud__menu {
  display: none;
}
[data-v-46f83722] .contrastQl .el-table td:nth-child(-n + 8) {
  background-color: rgba(131, 175, 241, 0.5) !important;
}
[data-v-46f83722] .contrastQl .el-table td:nth-child(n + 9) {
  background-color: rgba(131, 241, 193, 0.5) !important;
}
[data-v-46f83722] .contrastQl .avue-crud__menu {
  display: none;
}
[data-v-46f83722] .contrastQl .el-table td:nth-child(-n + 2) {
  background-color: rgba(131, 175, 241, 0) !important;
}
.none-border {
  border: 0;
  background-color: transparent !important;
}
.leftdiv[data-v-15e13bfe] .basic-container .el-card {
  min-width: 13.75rem !important;
}
.rightdiv[data-v-15e13bfe] .basic-container {
  padding-left: 0!important;
}
.flow-tree[data-v-15e13bfe] {
  flex: 1;
  overflow-y: auto !important;
}
.none-border {
  border: 0;
  background-color: transparent !important;
}
.step-div {
  margin-top: 1.875rem;
}
.affix {
  position: relative;
  background-color: #fff;
}
.affix-affix {
  display: inline-block;
  color: #fff;
  padding: 0.625rem 1.875rem;
  text-align: center;
  background: rgba(0, 153, 229, 0.9);
}
.affix-line {
  height: 6.25rem;
}
.title {
  margin-bottom: 0.625rem;
}
.box {
  margin-bottom: 1.25rem;
}
.top[data-v-9945503c] {
  padding: 0.625rem;
  font-size: 0.875rem;
  background: rgba(0, 153, 229, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 0.125rem;
}
